In [6]:
import re

In [9]:
import matplotlib.pyplot as plt

In [10]:
from collections import Counter

In [11]:
def double(x):
    y = x * 2
    return y
double(2)
my_double=double
my_double(3)

6

In [12]:
int_list=[1,2,3]
print(int_list)

[1, 2, 3]

In [14]:
hetero_list=['Toho',2020,True]
print(hetero_list)

['Toho', 2020, True]

In [15]:
print(int_list[:2])
print(int_list[-1])
print(len(int_list))
print(sum(int_list))

[1, 2]
3
3
6

In [16]:
print(int_list+[4,5,6])
print(int_list.append(4))
print(int_list.extend([4,5]))

[1, 2, 3, 4, 5, 6]
None
None

In [21]:
hetero_tuple=(1,'University')
print(hetero_tuple)
print(hetero_tuple[1])
print(list(hetero_tuple))
print(tuple(int_list))
x,y=1,2
x,y=y,x
x,y

(1, 'University')
University
[1, 'University']
(1, 2, 3, 4, 4, 5)

(2, 1)

In [27]:
d1={'eggs':1, 'tomato':2, 'banana':3}
d2={'food':d1}
d1['eggs']
d2['food']['eggs']
'eggs' in d2['food']
d1.keys()
d1.values()
d1.items()
d3={}
d3.update(d2)

In [30]:
len(d1)
d1['tomato']=4
del d1['banana']
d1.get('eggs',0)
d1.get('ham',0)

0

In [31]:
x={1,2,3,4,5}
y={2,4,6}
x|y
x&y
x-y
lx=list(x) #[x] lx.append(1) lx
sx=set(lx)

In [34]:
M=[[1,2,3],[4,5,6],[7,8,9]]
M[1]
M[1][2] #ここまではリストの入れ子
col2=[row[1] for row in M]
[row[1] + 1 for row in M]
[row[1] for row in M if row[1] % 2 == 0]
diag = [M[i][i] for i in [0,1,2]]
doubles = [c * 2 for c in 'spam']
t=(123, 456, 789)
u = t, (13, 0.45)
print(u)

((123, 456, 789), (13, 0.45))

In [38]:
x=10
if x < 0:
    print("負の数")
elif x==0:
    print("ゼロ")
else:
    print("正の数")

正の数

In [39]:
 for i in range(5):
        print(i)

0
1
2
3
4

In [40]:
li=[1,3,5]
for i in li:
    print(i)

1
3
5

In [42]:
d={'egg':1, 'tomato':2, 'banana':3}
for i in d.keys():
    print(i, d[i])
for k,v in d.items():
    print(k, v)

egg 1
tomato 2
banana 3
egg 1
tomato 2
banana 3

In [43]:
vec = [2, 4, 6]
[[x, x**2] for x in vec]

[[2, 4], [4, 16], [6, 36]]